@page "/menu/oncheckedchanged-test"

<FluentStack Orientation="Orientation.Vertical" VerticalGap="10">

	<FluentLabel Typo="Typography.H5">Menu with Checkboxes</FluentLabel>
	<FluentButton Id="menu-btn" OnClick="@(_ => open = !open)">ToggleMenu</FluentButton>
	<FluentCheckbox @bind-Value="useMenuService" Label="UseMenuService"/>
	<FluentMenu @bind-Open="open" Anchor="menu-btn" OnCheckedChanged="HandleCheckedChanged" UseMenuService="useMenuService">

		<FluentMenuItem Id="ck1" Role="MenuItemRole.MenuItemCheckbox" @bind-Checked="checkbox1" KeepOpen="true">
			Checkbox MenuItem 1 is @(checkbox1 ? "Checked" : "Unchecked")
		</FluentMenuItem>

		<FluentMenuItem Id="ck2" Role="MenuItemRole.MenuItemCheckbox" @bind-Checked="checkbox2" KeepOpen="true">
			Checkbox MenuItem 2 is @(checkbox2 ? "Checked" : "Unchecked")
		</FluentMenuItem>

	</FluentMenu>
</FluentStack>

<FluentStack>
	<FluentLabel Typo="Typography.H5">Log Entries</FluentLabel>
	<ul>
		@foreach (var log in logEntries)
		{
			<li>@log</li>
		}
	</ul>
</FluentStack>

@code {
	bool checkbox1 = false;
	bool checkbox2 = true;
	bool open = false;
	bool useMenuService = true;

	List<string> logEntries = new();

	void HandleCheckedChanged(FluentMenuItem args)
	{
		logEntries.Add($"MenuItem with Id '{args.Id}' checked changed to '{args.Checked}'");
	}
}
